%h1= t(:transactions_new_title)

= simple_form_for [@account, @transaction] do |f|
  = f.input :transaction_type, collection: ["debit", "credit"]
  = f.input :description
  = f.input :amount
  = f.input :each_month
  = f.submit
