%h1 Alle transacties

%h2= @account.name
= link_to "New transaction", new_transaction_path, class: 'btn btn-primary'

- @transactions.each do |t|
  %p 
    = t.description + ":"
    %strong= t.amount
    = link_to "delete", t, method: :delete, data: { confirm: "Weet je het zeker?" } 

%h2 balance
%h3= @account.balance