%h1= t(:transactions_new_title)

= simple_form_for @transaction, url: account_transactions_path do |f|
  = f.input :transaction_type, collection: ["debit", "credit"]
  = f.input :description
  = f.input :amount
  = f.submit
