%td= transaction.description
%td= transaction.amount
%td= transaction.transaction_type
/ %strong= t('transactions_fixed')
/ %span= t.fixed_transaction
%td= link_to "edit", edit_account_transaction_path(transaction.account, transaction)
%td= link_to "delete", account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: "Weet je het zeker?" } 