%h1 Alle transacties

%h2= @account.name
= link_to "New transaction", new_account_transaction_path(@account), class: 'btn btn-primary'

- @transactions.debit.fixed.each do |t|
  %p.highlight__debit 
    = t.description
    %strong amount:
    %span= t.amount
    %strong type: 
    %span= t.transaction_type
    %strong fixed: 
    %span= t.fixed_transaction
    = link_to "edit", edit_account_transaction_path(t.account, t)
    = link_to "delete", account_transaction_path(t.account, t), method: :delete, data: { confirm: "Weet je het zeker?" } 

- @transactions.credit.fixed.each do |t|
  %p.highlight__credit 
    = t.description
    %strong amount:
    %span= t.amount
    %strong type: 
    %span= t.transaction_type
    %strong fixed: 
    %span= t.fixed_transaction
    = link_to "edit", edit_account_transaction_path(t.account, t)
    = link_to "delete", account_transaction_path(t.account, t), method: :delete, data: { confirm: "Weet je het zeker?" } 

%hr

- @transactions.debit.variable.each do |t|
  %p.highlight__debit 
    = t.description
    %strong amount:
    %span= t.amount
    %strong type: 
    %span= t.transaction_type
    %strong fixed: 
    %span= t.fixed_transaction
    = link_to "edit", edit_account_transaction_path(t.account, t)
    = link_to "delete", account_transaction_path(t.account, t), method: :delete, data: { confirm: "Weet je het zeker?" } 

- @transactions.credit.variable.each do |t|
  %p.highlight__credit
    = t.description
    %strong amount:
    %span= t.amount
    %strong type: 
    %span= t.transaction_type
    %strong fixed: 
    %span= t.fixed_transaction
    = link_to "edit", edit_account_transaction_path(t.account, t)
    = link_to "delete", account_transaction_path(t.account, t), method: :delete, data: { confirm: "Weet je het zeker?" } 

%h2= @account.balance

%h3= link_to "Back", accounts_path