%h1= t('accounts_show_heading')

%h2= @account.name
= link_to t('accounts_show_new'), new_account_transaction_path(@account), class: 'btn btn-primary'

%table
  %th= t('transactions_fixed')
  %th= t('transactions_amount')
  %th= t('transactions_type')
  - @transactions.debit.fixed.each do |t|
    %tr.highlight__debit
      = render 'transaction_fields', transaction: t 
   
  - @transactions.credit.fixed.each do |t|
    %tr.highlight__credit 
      = render 'transaction_fields', transaction: t

%table
  %th= t('transactions_variable')
  %th= t('transactions_amount')
  %th= t('transactions_type')
  - @transactions.debit.variable.each do |t|
    %tr.highlight__debit 
      = render 'transaction_fields', transaction: t

  - @transactions.credit.variable.each do |t|
    %tr.highlight__credit
      = render 'transaction_fields', transaction: t
    %tr.highlight__balance
      %th= t('accounts_show_balance')
      %th= @account.balance

%h3= link_to t('accounts_show_back'), accounts_path